:root {
	--font-family: "Karla", sans-serif;

	--max-width: 980px;
	--big-max-width: 1420px;
	--padding: 0 20px;
	--margin: 0 auto;

	--text-color: #1D1F2E;
	--text-white: #FFFFFF;
	--text-accent: rgba(29, 31, 46, 0.7);
	--accent: #A25F4B;
	--background-color: #FFFFFF;
}

@font-face {
	font-family: "Karla";
	src: url("/public/fonts/Karla-Regular.woff2") format("woff2"),
		url("/public/fonts/Karla-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

.container {
	max-width: var(--max-width);
	padding: var(--padding);
	margin: var(--margin);
}

.big-container {
	max-width: var(--big-max-width);
	padding: var(--padding);
	margin: var(--margin);
}

body {
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 400;
	line-height: 175%;
	color: var(--text-color);
	background-color: var(--background-color);
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

/* Section */
section {
	padding-top: 80px;
}

/* Title */
.section-block {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 80px;
}

.section-line {
	width: 30px;
	height: 1px;
	background: #ececed;
}

.section-title {
	font-size: 12px;
	line-height: 150%;
	letter-spacing: 0.17em;
	text-transform: uppercase;
}

/* Card */
.card-img {
	margin-bottom: 30px;
}

.card-link {
	display: block;
	position: relative;
	display: inline-block;
	color: var(--text-color);
	transition: all 190ms ease-in;
}

.card-link:hover,
.card-link:hover .card-text,
.card-link:hover .card-price-red,
.card-link:hover .card-price,
.card-link:hover .card-price-line {
	color: var(--accent);
}

.card-link:active {
	top: 2px;
}

.card-text {
	font-size: 20px;
	line-height: 150%;
	transition: all 190ms ease-in;
}

.card-price-block {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.card-price-red {
	font-size: 19px;
	line-height: 168%;
	color: var(--accent);
	transition: all 190ms ease-in;
}

.card-price {
	color: var(--text-accent);
	transition: all 190ms ease-in;
}

.card-price-line {
	text-decoration: line-through;
	color: var(--text-accent);
	transition: all 190ms ease-in;
}

/* Media */
@media (max-width: 568px) {
	section {
		padding-top: 40px;
	}

	.section-block {
		margin-bottom: 40px;
	}

	.card-img {
		margin-bottom: 10px;
	}
}