.styleguide-hero {
	width: 100%;
	min-height: calc(100vh - 84px);
	background-image: url("./images/styleguide.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
