@media (max-width: 768px) {
	.stories-content {
		grid-template-columns: repeat(1, 1fr);
		gap: 40px;
	}

	.stories-img {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media (max-width: 568px) {
	.stories-top-text {
		font-size: 18px;
	}

	.stories-sub-text {
		margin-bottom: 16px;
	}
}