@media (max-width: 768px) {
	.footer-content {
		display: grid;
		grid-template-columns: 260px 190px;
		gap: 60px;
	}

	.footer-menu {
		grid-column: 1;
		grid-row: 1;
	}

	.footer-follow {
		grid-column: 2;
		grid-row: 1;
	}

	.footer-style {
		grid-column: 1;
		grid-row: 2;
	}

	.footer-contact {
		grid-column: 2;
		grid-row: 2;
	}
}

@media (max-width: 568px) {
	.footer {
		padding: 40px 0 30px;
	}

	.footer-content {
		display: grid;
		grid-template-columns: 100%;
		gap: 30px;
		text-align: center;
		justify-items: center;
	}

	.footer-menu {
		grid-column: 1;
		grid-row: 1;
		gap: 4px;
	}

	.footer-follow {
		grid-column: 1;
		grid-row: 2;
		gap: 4px;
	}

	.footer-title {
		margin-bottom: 4px;
	}

	.footer-style {
		grid-column: 1;
		grid-row: 3;
	}

	.footer-logo-img {
		margin-bottom: 4px;
	}

	.footer-contact {
		grid-column: 1;
		grid-row: 4;
	}

	.footer-title.contact {
		margin-bottom: 4px;
	}
}